body { 
    font: 34px 'Pompiere', Arial,Helvetica,sans-serif;
    text-align:center;
    height: 100%;
    color: #FFE5A1;
    background: rgb(131, 64, 42) url(pattern.png);
}

.navlist {
    display: inline-block;
    width: 22%;
    text-align: center;
    text-decoration: none;
}

.threelist {
    display: inline-block;
    width: 32%;
    text-align: center;
    text-decoration: none;
}

.smallprint {
	font-size: 24px;
}

.portrait {
	width: 128px;
	height: 128px;
	border: 3px solid #FFE5A1;
	border-radius: 64px;
}

a {
	color: #FFE5A1;
	}

p {
	margin-top: 20px;
	margin-bottom: 22px;
	}

h1 {
   font-family: 'Pompiere', cursive, sans-serif; 
   font-size: 88px; font-weight: normal; 
   line-height: 110%; 
   margin-top:35px;
   margin-bottom:35px;
   margin-left: auto;
   margin-right: auto;
}

h2 {
	font: 60px 'Pompiere', cursive, sans-serif;
}

h3 {
	font: 50px 'Pompiere', cursive, sans-serif;
}

.pressrelease {
	text-align: left;
	font-family: 'Times New Roman';
	font-size: 20px;
}

ul {
	text-align: left;
	font-size: 26px;
}

.dense-text {
	font-size: 23px;
	text-align: justify;
	padding-left: 32px;
	padding-right: 32px;
	}

.logo {
	font-size: 38px;
	margin-top: 15px;
	margin-bottom: 15px;
	}

.logo a {
	text-decoration: none;
	}

.presents {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 6px;
	}

.section:first-of-type {
	margin-top: 17px;
	}

.section {
	margin: auto;
	padding: 0px;
	max-width: 800px;

	margin-top: 0px;
	border-top: 3px solid;
	padding-top: 0px;

	padding-bottom: 0px;
	margin-bottom: 0px;
	}

.section:last-of-type {
	border-bottom: 3px solid;
	margin-bottom: 17px;
	}

/*a collection holds three horizontally aligned items*/
.collection {
	display: block;
	margin-bottom: 12px;
	}

.collection div {
	text-align: center;
	display: inline-block;
	width: 30.0%;
	}

.collection .left {
	text-align: left;
	}

.collection .right {
	text-align: right;
	}

.framed {
	margin: 12px;
	margin-bottom: 18px;
	border: 1px solid #BA885C;
	max-width: 500px;
	}

.smallimg {
	width: 250px;
	height: 187px;
	/*inherited from .framed*/
	margin: 12px;
	margin-bottom: 18px;
	border: 1px solid #BA885C;
}

form {
	border: 2px solid #BA885C;
	background: rgb(131, 64, 42) url(pattern2.png);
	max-width: 400px;
	margin: auto;
	padding: 20px;
	color: white;
}

input {
	font-size: 22px;
	margin: 12px;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
	color: #fb9e25;
	content: "\2063  ";
	text-shadow: 1px 1px 1px #cc9f52;
	text-align: center;
	margin-right: 15px;
	width: 20px;

	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#fb9e25;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	font-size:22px;
	padding:3px 12px;
	text-shadow:0px 1px 0px #cc9f52;
}

input[type=checkbox]:checked + label:before {
	color: white;
	content: "\2713  ";
	width: 20px;
	text-shadow: 1px 1px 1px #cc9f52;
	text-align: center;
}

input[type=submit] {
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background-color:#fb9e25;
	border-radius:6px;
	border:1px solid #eeb44f;
	display:inline-block;
	cursor:pointer;
	font-size:22px;
	padding:3px 12px;
	text-shadow:0px 1px 0px #cc9f52;
}

label {
	font-size: 26px
}

.photosandcaptions .framed {
	margin-bottom: 0px;
	margin-top: 64px;
}