html {
	margin:0;
	background-color: rgb(86, 91, 139);
}

body { 
	margin: 0;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	text-align: center;
	color: black; 
	line-height: 125%; 
	font-size: 20px;
}

.back1, .back2, .back3, .back4, .back5 {
	width: 100%;
	padding-bottom: 25px;
}

.container {
	overflow: auto;
	max-width: 720px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 40px;
	padding-right: 40px;
}

.back1 {
   background-color: rgb(162, 207, 165);
}

.back2 {
   background-color: rgb(224, 231, 171);
}

.back3 {
   background-color: rgb(245,151,78);
}

.back4 {
   background-color: rgb(233,107,86);
   padding-bottom: 0px;
}

.back5 {
   background-color: rgb(210,67,68);
}

/* highlight color changes part-way down the page */

.back4 h2, .back5 h2, .back4 h3, .back5 h3 {
	color: rgb(190, 192, 235);
}

/* as do links */
.back2 a {
	color: rgb(210, 67, 68);
}

/* and lists */
.back2 ul {
	color: #F5974E;
}

.navlist {
    display: inline-block;
    width: 22%;
    min-width: 138px;
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.threelist {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.smallprint {
	font-size: 24px;
}

.portrait {
	width: 128px;
	height: 128px;
	border: 3px solid white;
	border-radius: 64px;
	margin-bottom: 15px;
}

a {
	color: white;
	text-decoration: none;
	}

a:hover {
	text-decoration: underline;
}

p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.subheading {
	margin-top: 30px;
	margin-bottom: 30px;
}

h1 {
   font-size: 50px; font-weight: normal; 
   line-height: 110%; 
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   color: white;
}

h2 { 
   font-weight: bold; 
   font-size: 40px; 
   line-height: 125%; 

   margin-top: 40px;
   margin-bottom: 40px; 
   color: rgb(210, 67, 68);
}

h3 {
	font-size: 30px;
	margin-bottom: 15px;
}

.pressrelease {
	text-align: left;
	font-family: 'Times New Roman';
	font-size: 20px;
}

ul {
	text-align: left;
	font-size: 26px;
	color: rgb(190, 192, 235);
}

li {
	margin-top: 7px;
}

.dense-text {
	font-size: 23px;
	text-align: justify;
	padding-left: 32px;
	padding-right: 32px;
	}

.logo {
	font-size: 38px;
	margin-top: 15px;
	margin-bottom: 15px;
	}

.presents {
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 6px;
	}

/*a collection holds three horizontally aligned items*/
.collection {
	display: block;
	margin-bottom: 12px;
	}

.collection div {
	text-align: center;
	display: inline-block;
	width: 30.0%;
	}

.collection .left {
	text-align: left;
	}

.collection .right {
	text-align: right;
	}

.framed {
	margin: 12px;
	margin-bottom: 18px;
	border: 4px solid white;
	max-width: 500px;
	}

/* place under a .framed img */
.caption {
	font-weight: bold;
	width:500px;
	margin-top: -12px;
	margin-left: auto;
	margin-right: auto;
}

.smallimg {
	width: 250px;
	height: 187px;
	/*inherited from .framed*/
	margin: 12px;
	margin-bottom: 18px;
	border: 2px solid white;
}

form {
	border: 2px solid white;
	background-color: rgb(162, 207, 165);
	max-width: 400px;
	margin: auto;
	padding: 20px;
}

input {
	font-size: 22px;
	margin: 12px;
}

input[type=checkbox] {
	display: none;
}

input[type=checkbox] + label:before {
	color: rgba(100,100,100, 0);
	content: "\2063  ";
	text-align: center;
	margin-right: 15px;
	width: 14px;
	padding-right:10px;
	height: 24px;

	border: 2px solid black;
	display:inline-block;
	font-size:22px;
	
}

input[type=checkbox]:checked + label:before {
	color: black;
	content: "\2713  ";
	text-align: center;
}

input[type=submit] {
	color: black;
	background-color: rgb(245,151,78);
	border: 2px solid white;
	display:inline-block;
	cursor:pointer;
	font-size:22px;
	padding:3px 12px;
}

label {
	font-size: 26px
}

.photosandcaptions .framed {
	margin-bottom: 0px;
	margin-top: 64px;
}
