body { 
    font-size: 34px;
    text-align:center;
	background-color: #f4f4f4;
	background-image: none;
	color: black ;
	margin: 0px;
}

body, h1, h2 {
	font-family: 'Special Elite', cursive;
}

a {
  color: grey ;
  text-decoration: none ;
}
a:before {
    content: "[";
    color: grey;
}
a:after {
    content: "]";
    color: grey;
}

p {
	margin-top: 20px;
	margin-bottom: 22px;
	}

h1 {
   font-size: 88px; font-weight: normal; 
   line-height: 110%; 
   margin-top:35px;
   margin-bottom:35px;
   margin-left: auto;
   margin-right: auto;
}

.section:first-of-type {
	margin-top: 17px;
	}

.section {
	margin: auto;
	padding: 0px;
	max-width: 800px;

	margin-top: 0px;
	border-top: 3px solid;
	padding-top: 0px;

	padding-bottom: 0px;
	margin-bottom: 0px;
	}

.section:last-of-type {
	border-bottom: 3px solid;
	margin-bottom: 17px;
	}

.framed {
	margin: 12px;
	margin-bottom: 18px;
	border: 1px solid grey;
	max-width: 500px;
	}

.warning {
  color: white;
  background-color: black;
  margin-bottom: 16px;
  padding: 20px;
}
.warning a {
  color: #aaa;
}